{% load i18n %}<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}Contact{% endblock title %}
</title>
</head>
<body>
{% block header %}
<div style="float:left; width: 800px;">
<h3>42 Coffee Cups Test Assignment</h3>
</div>
{% endblock header %}
{% block body %}
<div style="float:left; width: 800px;">
<div style="width: 350px; float: left;">
<table>
    <tr>
        <td>
            Name
        </td>            
        <td>
            {{ contact.name }}
        </td>
    </tr>
    <tr>
        <td>
            Last name
        </td>            
        <td>
            {{ contact.last_name }}
        </td>
    </tr>
    <tr>
        <td>
            Date of birth
        </td>            
        <td>
            {{ contact.birth }}
        </td>
    </tr>
    <tr>
        <td>
            Bio:
        </td>            
        <td>
            {{ contact.bio }}
        </td>
    </tr>    
</table>    
</div>

<div style="width: 350px; float: right;">
    Contacts
    <table>
    <tr>
        <td>
            Email:
        </td>            
        <td>
            {{ contact.email }}
        </td>
    </tr>
    <tr>
        <td>
            Jabber:
        </td>            
        <td>
            {{ contact.jabber}}
        </td>
    </tr>
    <tr>
        <td>
            Skype:
        </td>            
        <td>
            {{ contact.skype }}
        </td>
    </tr>
    <tr>
        <td>
            Other contacts:
        </td>            
        <td>
            {{ contact.other_contacts }}
        </td>
    </tr>    
</table> 
</div>
</div>

{% if user.is_authenticated %}
    {{ user.username }} | <a href="{% contact_edit %}">edit data, presented on the page | </a>  
    <br><a href="{% url  auth_logout %}">Logout</a>   
{% else %}
    <a href="{% url auth_login %}">Login</a>
{% endif %}


{% endblock body %}
{% block request %}
<div style="float:left; width: 800px;">
<hr>
<a href="{% url contact_middleware %}">requests</a>

{% block context %}

<h4>Examples context-processor</h4>
<p>SITE_ROOT - {{ settings.SITE_ROOT }} 
<p> TEMPLATE_CONTEXT_PROCESSORS - {{ settings.TEMPLATE_CONTEXT_PROCESSORS }}
<p> TIME_ZONE - {{ settings.TIME_ZONE }}
{% endblock context %}
</div>
{% endblock request %}
</body>
</html>
