{% csrf_token %}
<div style="width: 350px; float: left;">
<table>
    {% for field in form %}
    {% if forloop.counter == 5 %}
</table>
</div>
<div style="width: 350px; float: right;">
<table>
{% endif %}
{% if field.errors %}  
    <tr>
        <td></td>
        <td>           
            <span style="color: red;">
             {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            </span>            
        </td>
    </tr>
{% endif %}
    <tr>
        <td>
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
            
        </td>
    </tr>
{% if field.help_text %}} 
    <tr><td></td>
        <td>
        {{ field.help_text }}
        </td>
    </tr>
{% endif %}    

  
{% endfor %}
</table>
</div>

