{% extends "contact.html" %}
{% block title %}Middleware{% endblock %}
{% block body %}
<div style="float:left; width: 800px;">

{% for item in middleware %}
<br>
<table border="1" width="90%">
    <tr>
        <td width="30%">
            user
        </td>            
        <td>
            {{ item.user }}
        </td>
    </tr>
    <tr>
        <td width="30%">
            lang
        </td>            
        <td>
            {{ item.lang }}
        </td>
    </tr>    
    <tr>
        <td width="30%">
            path_info
        </td>            
        <td>
            {{ item.path_info }}
        </td>
    </tr>
    <tr>
        <td width="30%">
            remote_addr
        </td>            
        <td>
            {{ item.remote_addr }}
        </td>
    </tr>
    <tr>
        <td width="30%">
            priority
        </td>            
        <td>
            <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="id"/>
            <input type="text" size="3" name="priority" value="{{ item.priority }}" />
            <input value="Edit priority" name="priority_save" type="submit" />
            </form>
            
        </td>
    </tr>       
</table>
{% endfor %}
</div> 
<a href="{% url contact_home %}">home</a>   
{% endblock body %}
